[workspace]
channels = ["knime/label/nightly", "knime", "conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[pypi-options]
no-build = true

[tasks]

[dependencies]
knime-extension = "*"
knime-python-versions = "5.10.*"
knime-python-scripting = "5.10.*"
python = "*"


[feature.build.dependencies]
python = "3.13.*"
knime-extension-bundling = "5.10.*"
jake = "*"

[feature.dev.dependencies]
debugpy = "*"

[feature.build.tasks]
build = { args = [{ "arg" = "dest", "default" = "./local-update-site" }], cmd = "build-python-extension . {{ dest }} --render-folder ./render-dir --force"}

[environments]
build = {features = ["build"], no-default-feature = true}
dev = {features = ["dev"]}
